@import '../utils/variables';

body {
    max-width: 1024px;
    // margin: auto;
    font-family: 'Montserrat', sans-serif;
    // font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //   sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
  }
  h1,h2,h3 {
    margin: 0;
  }

a {
  color:$primary-color;
  text-decoration: none;
}
  
  // code {
  //   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  //     monospace;
  // }