
$primary-color: #FF5F5F;
$secondary-color: white;
$tertiary-color: #e3e3e3;
$quaternary-color: #f6f6f6;
$quinary-color: #c4c4c4;
$gradient: linear-gradient(180deg, rgba(255,95,95,1) 0%, rgba(255,95,95,1) 80%, rgba(127,48,46,1) 100%);
