.appart-cover {
    &__cover {
        width: 100%;
        height: 18rem;
        object-fit: cover;
        border-radius: 1.5rem;
        margin: auto;
        display: block;
        @include tablet {
            border-radius: 0.5rem;
        }
    }
}