.banner {
    font-size: 41px;
    border-radius: 1.5rem;
    color:white;
    display:grid;
    justify-content: center;
    align-items: center;
    height: 170px;

    background: url('../../assets/Background.png'), url('../../assets/banner-1.png');
    background-position: center , center;
    background-repeat: no-repeat,no-repeat;
    margin-bottom: 2rem;
}