
.banner-home {
    font-size: 41px;
    border-radius: 1.5rem;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background: url('/assets/banner-background.png'), url('/assets/banner-home.png');
    background-position: center , center;
    background-repeat: repeat,no-repeat;
    margin-inline: auto;
    width: 100%;
        @include tablet {
            line-break: normal;
            border-radius: 0.8rem;
            justify-content: left;
            padding-left: 0.5em;
            box-sizing: border-box;
            font-size: 24px;
            height: 100px;
        }
 
 
    br {
        display :none;
        @include tablet {
            display: inline;
        }
    }
    
}
.banner-about {
    font-size: 41px;
    border-radius: 1.5rem;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background: url('/assets/banner-background.png'), url('/assets/banner-about.png');
    background-position: center , center;
    background-repeat: repeat,no-repeat;
    margin-inline: auto;
    width: 100%;
        @include tablet {
            line-break: normal;
            border-radius: 0.8rem;
            justify-content: left;
            padding-left: 0.5em;
            box-sizing: border-box;
            font-size: 24px;
            height: 100px;
        }
}
