.banner {
    font-size: 20px;
    border-radius: 0.5rem;
    color:white;
    display:grid;
    justify-content: center;
    align-items: center;
    height: 170px;
    background-image: url('../../assets/banner-1.png');
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}