@import '../utils/variables';

.cards {
    margin-block: 1em;
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    background-color: $quaternary-color;
    border-radius: 1.5rem;

    @include tablet {
        gap: 1rem;
    }

    @include mobile-M {
        margin-block: 0;
        padding: 0;
        background-color: transparent;
        gap: 0.3em;
        margin-inline: 0;
        margin-block: 0 1.5em;
    }

    @include mobile-S {
        margin-inline: 0;
        margin-block: 0 1.5em;
        padding: 0;
        background-color: transparent;
        gap: 1.1rem;
    }

    &__apparts {
        display: flex;
        flex-direction: column;
        background: $gradient;
        border-radius: 0.5rem;
        color: $secondary-color;
        padding: 0.3em;
        inline-size: min-content;
        flex-basis: 30%;

        @include mobile-M {
            flex-basis: 47%;
        }

        @include mobile-S {
            flex-basis: 100%;
        }
    }

    &__cover {
        max-height: 194px;
        width: 100%;
        aspect-ratio: 3/2;
        box-sizing: border-box;
        object-fit: cover;
        border-radius: 0.5rem 0.5rem 0.1rem 0.1rem;

        @include mobile-S {
            max-height: 9.5rem;
        }
    }

    &__cover-loader {
        padding: 1em;
        box-sizing: border-box;
        margin-block: 5em;
        margin-inline: auto;
        border: 0.2em solid white;
        border-bottom-color: transparent;
        border-radius: 5rem;
        animation: rotate 0.5s infinite linear;
        height: 0;
        width: 0;
    }

    & h2 {
        color: $secondary-color;
        font-weight: 400;
        font-size: 1.1rem;
        padding: 0.5em;
        min-height: 3rem;

        @include mobile-S {
            font-size: 1rem;
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}