.error-page {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    color: $primary-color;


    &__404 {
        margin: 0;
        font-size: 11rem;
        font-weight: 700;

        @include mobile-S {
            font-size: 6rem;
        }
    }

    &__message {
        font-size: 1.5rem;

        @include mobile-M {
            font-size: 1.1rem;
        }

        @include mobile-S {
            font-size: 1.1rem;
            text-align: center;
        }
    }

    a {
        font-size: 1.5rem;
        text-decoration: underline;
        margin: 2.5rem;

        @include mobile-M {
            font-size: 1.1rem;
            margin: 1.5rem;
        }

        @include mobile-S {
            font-size: 1.1rem;
            margin: 1.5rem;
        }
    }

    br {
        display: none;

        @include mobile-S {
            display: inline;
        }
    }
}