
.navbar {
    display: flex;
    align-items: center;
    gap:1rem;
    color: $primary-color;
    font-size: 1.5rem;
    margin-block:1em;
    white-space: nowrap;
    margin-inline: auto;
    width: 100%;
        @include mobile-M {
            text-transform: uppercase;
            font-size: .9rem;
            font-weight: 500;
        }
        @include mobile-S {
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 500;
        }

    &__logo-img {
        width: 230px;
        @include mobile-M {
            width: 120px;
        }
        @include mobile-S {
            width: 120px;
        }
    }
    
    & > *:first-child {
        margin-right: auto;
    }

    &__links.active, :hover {
            
            text-decoration: underline;
            text-underline-offset: 3px;
        }
   


    
}



