.slideshow-banner {
    position: relative;
    margin: auto;
    display: block;
    height: 18rem;
    width: 100%;
    overflow: hidden;
    @include mobile-S {
      border-radius: 0.5rem;
      height: 14rem;
    }
  
    &__img {
      object-fit: cover;
      position: absolute;
      border-radius: 1.5rem;
      height: 100%;
      width: 100%;
      opacity: 0;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
        @include tablet {
          border-radius: 1.5rem;
        }
        @include mobile-S {
          border-radius: 0.5rem;
          height: 100%;
        }
  
      &.show-next {
        opacity: 1;
        transform: translateX(0%);
        transition: transform 0.5s ease-in-out;
      
      }
  
      &.show-prev {
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in-out;
      }
    }
  
    &__btn-next {
      color: white;
      font-size: 2em;
      position: absolute;
      bottom: 50%;
      right: 0.5em;
      @include mobile-S {
        right: 0.2em;
        font-size: 1.5rem;
      }
    }
  
    &__btn-prev {
      font-size: 2em;
      color: white;
      position: absolute;
      bottom: 50%;
      left: 0.5em;
      @include mobile-S {
        left: 0.2em;
        font-size: 1.5rem;
      }
    }
  
    &__counter {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-size: 1.5rem;
      @include mobile-M {
        font-size: 1rem;
        bottom: 5%;
      }
      @include mobile-S {
        font-size: 1rem;
        bottom: 5%;
      }
    }
  }