
.slideshow-banner__img {
 width: 100%;
        // aspect-ratio: 3/1;
        height: 18rem;
        object-fit: cover;
        border-radius: 1.5rem;
        margin: auto;
        display: block;
        @include tablet {
            border-radius: 0.5rem;
        }
}
.arrow-left {
    
}
.arrow-right {

}