
.appart-page {
    &__specs-container {
        display: flex;
        justify-content: space-around;
        color: white;
        margin-bottom: 2rem;
        gap:5rem;
    }
    &__specification {
        display: flex;
        flex-direction: column;
    }
    &__spec-bar {
        display: flex;
        justify-content: space-between;
        border-radius: 0.7rem;
        background-color: $primary-color;
        padding: 1em 1em;
        margin-bottom: -5px;
        z-index: 1;
        position: relative;
    }
    &__spec-paragraph {
        padding: 1em 1em;
        border-radius: 0.7rem;
        background-color: rgb(215, 215, 215);
        color: black;
    }
    
}